run =  "src/run.sh"

modules = ["python-3.10:v25-20230920-d4ad2e4"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "src/run.sh"]
deploymentTarget = "scheduled"

[[ports]]
localPort = 8888
externalPort = 80
